<div class="list-group">
	{{#each employeeModel as |employee|}}
	{{#link-to 'employees.edit' employee.id class="list-group-item"}}
		<div class="row vertical-align">
			<div class="col-xs-3 col-sm-2">
				<div class="media-left vertical-align">
					<img class="media-object" src="{{employee.avatarUrl}}" alt="An avatar or mugshot of this person">
				</div>
			</div>
			<div class="col-xs-9 col-sm-5">
				<h2>{{employee.fullName}}</h2>
				<p>Home Base : {{employee.address.city}}, {{employee.address.province}}, {{employee.address.country_code}}</p>
			</div>
			<div class="col-xs-3 col-sm-2">
				{{employee-status statusText=employee.status}}
			</div>
			<div class="col-xs-9 col-sm-2">
				<h5 class="text-right"># active / pending treks</h5>
			</div>
		</div>
	{{/link-to}}
	{{/each}}
</div>
{{infinity-loader infinityModel=employeeModel loadingText="Loading..." loadedText="No more data!"}}