<div class="list-group">
	{{#each employeeModel as |employee|}}
	{{#link-to 'employees.edit' employee.id class="list-group-item"}}
		<div class="row vertical-align">
			<div class="col-xs-3 col-sm-2">
				<div class="media-left vertical-align">
					<img class="media-object" src="{{employee.avatarUrl}}" alt="An avatar or mugshot of this person">
				</div>
			</div>
			<div class="col-xs-9 col-sm-6">
				<h2>{{employee.fullName}}</h2>
				<p>Home Base : {{employee.address.city}}, {{employee.address.province}}, {{employee.address.country_code}}</p>
			</div>
			<div class="col-xs-3 col-sm-1">
				<h4>{{employee-status statusText=employee.status}}</h4>
			</div>
			<div class="col-xs-9 col-sm-3">
				<h4 class="text-right">active&nbsp;<span class="label-as-badge label-success">{{employee.activeCount}}</span></h4>
				<h4 class="text-right">pending&nbsp;<span class="label-as-badge label-warning">{{employee.pendingCount}}</span></h4>
			</div>
		</div>
	{{/link-to}}
	{{/each}}
</div>
{{infinity-loader infinityModel=employeeModel loadingText="Loading..." loadedText="No more data!"}}