<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title pull-left">
			{{trail.name}}
		</h3>
		<div class="pull-right category-box difficulty-icon{{trail.difficulty}}">
			[]
		</div>
		<div class="clearfix">
		</div>
	</div>
	<!-- panel body doesn't really help here so leave it out -->

	<!-- NB Don't put any clickable elements inside this next div, put them inside its children only 
    because of the CSS trick used to apply a background to this-->
	<div class="media trailcard-bg">
		<div class="media-left">
			<a href="#">
				<div class="placeholder150150">
					<img class="media-object" src="{{trail.mapThumbnailUrl}}" alt="Trail route thumbnail">
				</div>
				<div class="placeholder15050">
					<img class="media-object" src="{{trail.elevationThumbnailUrl}}" alt="Trail route thumbnail">
				</div>
			</a>
		</div>
		<div class="media-body">
			<h4 class="media-heading">{{trail.agency}}</h4>
			<h5>{{trail.province}}</h5>
			<h5>{{trail.countryCode}}</h5>
			<p>{{trail.distanceValue}}&nbsp;{{trail.distanceUnit}} | {{trail.distanceType}}</p>
			<div>
				RECORDER PLACEHOLDER
			</div>
			<button class="btn btn-default btn-trailcard pull-right">View This Trail</button>
		</div>
	</div>

	<div class="panel-footer trailcard-footer">
		<div class="row remove-margins">
			<div class="col-xs-10">
				<ul class="list-inline trailcard-footer">
					<li class="col-xs-12">
						<span class="pull-right"> 
            		Recording - Last updated {{trail.updatedAt}}
            </span>
						<span>
							{{trail.commentsCount}} comments | {{trail.notesCount}} admin notes
            </span>
					</li>
				</ul>
			</div>
			<div class="col-xs-2 status-text-bg text-center {{trail.publishStatus}}">
				<h4 class="status-text all-caps">{{trail.publishStatus}}</h4>
			</div>
		</div><!-- row -->
	</div><!-- panel footer -->
</div>