<div class="row vertical-align">
	<div class="col-xs-4 col-sm-4 pull-left">
		<h4>Listing {{model.length}} result(s)</h4><small>of {{model.meta.records}}</small>
	</div>
	<div class="col-xs-6 col-sm-6">
		&nbsp;
	</div>
	<div class="col-xs-2 col-sm-2 clearfix">
		<button class="btn btn-primary pull-right">Filter by...</button>
	</div>
</div>
&nbsp;
<div class="list-group">
	{{#each model as |employee|}}
	<a href="#" class="list-group-item">
		<div class="row vertical-align">
			<div class="col-xs-3 col-sm-2">
				<div class="media-left vertical-align">
					<img class="media-object" src="{{employee.avatarUrl}}" alt="...">
				</div>
			</div>
			<div class="col-xs-9 col-sm-5">
				<h2>{{employee.fullName}}</h2>
				<p>Home Base : {{employee.address.city}}, {{employee.address.province}}, {{employee.address.country_code}}</p>
			</div>
			<div class="col-xs-3 col-sm-2">
				{{employee-status statusText=employee.status}}
			</div>
			<div class="col-xs-9 col-sm-2">
				<h5 class="text-right"># active / pending treks</h5>
			</div>
		</div>
	</a>
	{{/each}}
</div>
{{infinity-loader infinityModel=model loadingText="Loading..." loadedText="No more data!"}}