<h2 class="text-center">
  Viewing Enhanced Information Trail
</h2>
<br/>
<form class="form-horizontal">

  <div class="form-group">
    <label class="col-xs-2 col-md-2 control-label">
      Trail Name
    </label>
    <div class="col-xs-10 col-md-10">
        {{input type="text" value=model.trail.name class="form-control" placeholder="The name of this trail"}}
    </div>
  </div>
  <br/>

  <div class="form-group">
    <label class="col-xs-2 col-md-2 control-label">
      GPX url
    </label>
    <div class="col-xs-10 col-md-10">
        {{input type="text" value=model.trail.gpxFileUrl disabled=true class="form-control" placeholder="The GPX file location"}}
    </div>
  </div>
  <hr/>

BUNCH OF FIELDS HERE
  <hr/>

  <div class="form-group">
    <label class="col-xs-2 col-md-2 control-label">
      Trail website
    </label>
    <div class="col-xs-10 col-md-10">
        {{input type="text" value=model.trail.websiteUrl class="form-control" placeholder="The website url"}}
    </div>
  </div>

  <div class="form-group">
    <label class="col-xs-2 col-md-2 control-label">
      Trail distance (km)
    </label>
    <div class="col-xs-10 col-md-10">
        {{input type="number" value=model.trail.distance class="form-control" placeholder="The length of the trail"}}
    </div>
  </div>  
  <hr/>

  <!--<h3>Employees</h3>
  {{#each model.trail.employee as |emp|}}
    <h2>
      Name: {{emp.fullName}}
    </h2>
  {{/each}}-->

  <div class="form-group">
    <label class="col-xs-2 col-md-2 control-label">
      Assign to recording team member(s)
    </label>
    <div class="col-xs-10 col-md-10">
      {{#power-select-multiple options=model.employees 
        searchPlaceholder="Type a name to search"
        searchField="fullName"
        selected=model.trail.employee placeholder="Select team members"
        onchange=(action (mut model.trail.employee)) as |employee| }}
        {{employee.fullName}}
      {{/power-select-multiple}}
      <small>Type to search by name - press ENTER or CLICK to select. Repeat to add more people.</small>
    </div>
    <!--<div class="col-xs-5 col-md-5">
      <button type="submit" class="pull-right btn btn-primary">Add new recording team member</button>
    </div>-->
  </div>
  <div class="clearfix">
  </div>
  <hr/>

  <div class="col-xs-12 col-md-12 text-center">
    <button type="submit" class="btn btn-success" {{action 'save' model.trail}}>Save</button>
  </div>
</form>
{{outlet}}
